/*
#0E0B16 = void 
#4717F6 = blue
#E7DFDD = stark grey 
#c7c4b9 - light grey*/

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* NAV ELEMENTS */
.nav {
  background-color: #0e0b16;
  position: relative;
  display: block;
}

.nav_element {
  display: inline-block;
  margin: 1rem 2rem;
  text-decoration: none;
  font-size: 1.2em;
  color: #e7dfdd;
  transition: 0.1s;
  align-self: center;
  padding: 0.1em 0.5em 0.1em 0.5em;
}

.nav_element:hover {
  color: tomato;
  border-bottom: 2px solid tomato;
}

.nav_element.active {
  background-color: #c7c4b9;
  color: #0e0b16;
}

.nav_login {
  display: inline-block;
  margin: 1rem 2rem;
  text-decoration: none;
  font-size: 1em;
  padding-right: 15%;
  color: #e7dfdd;
}

/* SEARCHBAR */

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  float: center;
  align-items: center;
  justify-content: center;
}

.wrapper {
  width: 350px;
  height: 175px;
  margin-left: 2%;
  flex-direction: row;
  margin: 1%;
  overflow-y: hidden;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0;
  transition: box-shadow 0.5s, transform 0.5s;
}
.wrapper .container .bottom .left {
  width: 50%;
  background: #f4f4f4;
  float: left;
  height: 175px;
}

.wrapper .container .bottom .right {
  width: 50%;
  height: 175px;
  background: #4717f6;
  color: #e7dfdd;
  float: right;
  display: flex;
  flex-direction: column;
}

.album_title {
  font-size: 1em;
  margin: 5px;
}

.album_artist {
  font-size: 0.75em;
  margin-top: 10%;
  align-items: center;
  align-self: center;
  justify-content: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#content_container {
  background-color: #4717f6;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7.5em;
}

.search_content {
  color: #c7c4b9;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 1rem 2rem;
}
#album_add_button {
  margin-top: 10%;
}

.wrapper:hover {
  transform: scale(1);
  box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
}

/* home  */

h1 {
  font-size: 40px;
  color: #c7c4b9;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#intro {
  color: #c7c4b9;
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 100%;
  min-height: 200px;
  background-color: #4717f6;
}

.cf {
  display: flex;
  margin-left: 100px;
}

.cf img {
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  height: 450px;
  width: 450px;
  padding: 15px;
  position: fixed;
}

.cf img.top:hover {
  opacity: 0;
}

.cf2 {
  margin-right: 100px;
  display: flex;
}

.cf2 img {
  right: 125px;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  height: 450px;
  width: 450px;
  padding: 15px;
  position: fixed;
}

.cf2 img.top:hover {
  opacity: 0;
}
